.Alert {
    position: absolute;
    width: 500px;
    padding: 16px;
    left: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.Alert button {
    width: 60px;
    height: 35px;
    text-align: center;
    border: 4px solid white;
    border-radius: 5px;
    position: absolute;
    top: 14px;
    right: 10px;
    background-color: white;

}

.warning {
    background: rgb(255, 236, 70);
    top: 15%;
    border-radius: 10px;
}

.danger {
    background: #ff7878;
    border-radius: 10px;
    top: 25%;
}


